<div class="users-index">
  
    <div class="navbar">
        <div class="link-all-users">
          <%= link_to 'All Users', users_path, :style=> 'color:#FFFFFF;text-decoration: none;padding: 5px;' %>
        </div>
        <div class="search-bar">
              <%= form_tag '/users', :method => 'get' do %>
               <div class="search-form">
                 <div class="search-user">
                   <%= text_field_tag :search, params[:search] %>
                    
                </div>
                <div class="search-submit">
                  <%= submit_tag "Search", :name => nil %>
                </div>
              </div>
            <%end%>       
        </div>
        <div class="link-home">
          <%= link_to 'Home', posts_path, :style=> 'color:#FFFFFF;text-decoration: none;padding: 5px;' %>
        </div>
        <div class="link-profile">
          <%= link_to "#{current_user.firstname}", user_path(current_user), :style=> 'color:#FFFFFF;text-decoration: none;padding: 5px;' %>
        </div>
        <div class="link-requests">
          <%= link_to 'Friend Requests', requests_path, :style=> 'color:#FFFFFF;text-decoration: none;padding: 5px;' %>
        </div>
        <div class="link-signout">
          <%= link_to 'Log out', logout_path, :style=> 'color:#FFFFFF;text-decoration: none;padding: 5px;' %>
        </div>
    </div>
  <div class="all-users">  
    <div class="users-container">
      <div class="users-header">
        <h1>All Users</h1>
      </div>
    <div class="users-grid">
      <% @users.each do |user| %>
        <% cache user do %>
        <% next if user == current_user %>
          <div class="users-index-user">
              <div class="requester_name">
                <%= link_to user_path(user), class: "username",:style=> 'color:#4169E1;text-decoration: none;padding: 5px;' do %>
                <%= user.firstname %>
              </div>
              <% if @requesters.where('requests.accepted = ?', false).include?(user) %>
                <div class="confirm-btn">
                <%= button_to "Confirm", request_path(id: @received_requests.find_by(requester_id: user.id).id, request: { requester_id: user.id }), method: :put%>
                </div>
              <% elsif @requesters.where('requests.accepted = ?', true).include?(user) %>
                <div class="send-msg-btn">
                    <%= button_to "Message", conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %>
                </div>
              <% elsif !@requestees.include?(user) %>
                <div class="add-friend-btn">
                <%= button_to "Add Friend", requests_path(request: { requestee_id: user.id }), method: :post %> 
              </div>                 
              <% end %>
            <% end %>
          </div>
      <% end %>
      <% end %>
    </div>
    <div id="users-page">
        <%= will_paginate @users %>
    </div>
  </div>
</div>
</div>
