<p id="notice"><%= notice %></p>

<p>
  <strong>Requester:</strong>
  <%= @request.requester_id %>
</p>

<p>
  <strong>Requestee:</strong>
  <%= @request.requestee_id %>
</p>

<p>
  <strong>Accepted:</strong>
  <%= @request.accepted %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
