<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="post-field">
    <%= form.label :message, class:"form-text-field", :style=> 'display: none;' %>
    <%= form.text_field :message, placeholder: "Say something...", class:"form-text-field", :style=> 'border: none; width: 100%; height: 100px;'%>
  </div>

  <div class="post-submit">
    <%= form.submit "Post", class:"make-post", :style=> 'background-color: rgb(66,103,178); width: 100%; color: #FFFFFF;height: 30px;'%>
  </div>

<% end %>
